*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# emacs temp files
\#*
.#*
*~

# eclipse files
.cache
.classpath
.project
.settings/

# sample dirt/table files
dirtfile
tablefile
